.banner {
    height: 200px;
    background-color: #283B42;
}

.tabs-section {
    display: flex;
    background-color: #D1DDDB;
}

.tabs-container {
    margin: 0 auto;
    position: relative;
    top: -39px;
    max-width: 70vw;
}

.tab-buttons {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.primary-button {
    color: #000000;
    padding: 10px 20px;
    background-color: #85B8CB;
    border-radius: 16px 16px 0 0;
}

.primary-button:hover {
    cursor: pointer;
    filter: brightness(.9);
}

.body-screen.activated {
    display: block;
}

.primary-button span {
    font-family: "Roboto", sans-serif;
}

.tabs-body h2 {
    font-size: 50px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.tabs-body p {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
}

.styles-one {
    max-width: 150vw;
    width: 100%;
    display: none;
    height: 800px;
}

.styles-two {
    max-width: 150vw;
    width: 100%;
    display: none;
    height: 800px;
}

.styles-three {
    max-width: 150vw;
    width: 100%;
    display: none;
    height: 800px;
}

.styles-four {
    max-width: 150vw;
    width: 100%;
    display: none;
    height: 800px;
}

.styles-five {
    max-width: 150vw;
    width: 100%;
    display: none;
    height: 800px;
}

.dropdown {
    position: relative;
}

.dropbtn {
    display: none;
    color: #000000;
    padding: 10px 20px;
    background-color: #85B8CB;
    border-radius: 16px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    filter: brightness(.9);
}

@media (max-width: 764px) {
    .tab-buttons {
      display: none;
    }
    .primary-button{
        border-radius: 0px;
    }
    .dropbtn{
        display: block;
    }
}