.tabs-banner {
    display: flex;
    justify-content: start;
    align-items: end; 
    height: 200px;
    background-color: #283B42;
}

#tabs-burguer{
    display: none;
    color: #ffffff;
    margin: 0 0 42px 10px;
    position: relative;
    z-index: 2;
}

.tabs-section {
    display: flex;
    flex-direction: column;
    background-color: #D1DDDB;
}

.tabs-container {
    margin: 0 auto;
    position: relative;
    top: -39px;
    width: 100%;
    max-width: 70vw;
}

.tabs-body-container {
    margin: 0 auto;
    position: relative;
    top: -39px;
    max-width: 70vw;
}

.tab-buttons {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.primary-button {
    color: #000000;
    padding: 10px 20px;
    background-color: #85B8CB;
    border-radius: 16px 16px 0 0;
}

.primary-button:hover {
    cursor: pointer;
    filter: brightness(.9);
}

.body-screen.activated {
    display: block;
}

.primary-button span {
    font-family: "Roboto", sans-serif;
}

.tabs-body h2 {
    font-size: 50px;
    font-weight: bold;
    animation: fadeIn .5s ease-in-out;
    font-family: "Roboto", sans-serif;
}

.tabs-body p {
    font-size: 30px;
    animation: fadeIn .5s ease-in-out;
    font-family: "Roboto", sans-serif;
}

.styles-one {
    max-width: 150vw;
    width: 100%;
    display: none;
    height: 800px;
}

.styles-two {
    max-width: 150vw;
    width: 100%;
    display: none;
    height: 800px;
}

.styles-three {
    max-width: 150vw;
    width: 100%;
    display: none;
    height: 800px;
}

.styles-four {
    max-width: 150vw;
    width: 100%;
    display: none;
    height: 800px;
}

.styles-five {
    max-width: 150vw;
    width: 100%;
    display: none;
    height: 800px;
}

.tabs-dropdown-container{
    display: flex;
}

.tabs-dropdown-content {
    display: none;
    position: relative;
    z-index: 2;
    align-items: center;
    flex-direction: column;
    max-width: 35vw;
    width: 100%;
    height: 200px;    
    animation: fadeIn .3s ease-in-out;
    background-color: #85B8CB;
}

.tabs-close-menu{
    display: flex;
    max-width: 35.5vw;
    width: 100%;
    background-color: #283B42;
    justify-content: center;
}

@media (max-width: 764px) {
    .tabs-banner {
        height: 100px;
    }
    .tab-buttons {
        display: none;
    }
    .tabs-body-container{
        top: 0;
    }
    .primary-button{
        border-radius: 0px;
        border-bottom: solid 1px;
        border-color: #79aabb;
        max-width: 23.5vw;
        width: 100%;
        text-align: center;
    }
    .tabs-dropbtn{
        display: block;
    }
    #tabs-burguer{
        display: block;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}